nav{
    display: flex;
    justify-content: space-around;
    background-color:darkgrey;
    line-height: 40px;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    margin-right: 10px;
}
nav ul li a{
    font-size: 1.1em;
    color: black;
    font-weight: 500;
}